# Import Packages

In [4]:
#Relevant packages to stop turing from crashing during data preprocessing

!apt install libnvrtc8.0
!pip uninstall -y mxnet-cu80 && pip install mxnet-cu80==1.1.0
!pip install turicreate

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libnvrtc8.0
E: Couldn't find any package by glob 'libnvrtc8.0'
E: Couldn't find any package by regex 'libnvrtc8.0'
Uninstalling mxnet-cu80-1.1.0:
  Successfully uninstalled mxnet-cu80-1.1.0
Collecting mxnet-cu80==1.1.0
  Using cached https://files.pythonhosted.org/packages/9c/55/bcfd26fd408a4bab27bca1ef5dc1df42954509c904699a6c371d5a4c23ab/mxnet_cu80-1.1.0-py2.py3-none-manylinux1_x86_64.whl
Requirement already satisfied: graphviz==0.8.1 in /usr/local/lib/python3.6/dist-packages (from mxnet-cu80==1.1.0) (0.8.1)
Requirement already satisfied: requests==2.18.4 in /usr/local/lib/python3.6/dist-packages (from mxnet-cu80==1.1.0) (2.18.4)
Collecting numpy<=1.13.3 (from mxnet-cu80==1.1.0)
  Using cached https://files.pythonhosted.org/packages/57/a7/e3e6bd9d595125e1abbe162e323fd2d06f6f6683185294b79cd2cdb190d5/numpy-1.13.3-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests==2.18.4->mxnet-cu80==1.1.0) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests==2.18.4->mxnet-cu80==1.1.0) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests==2.18.4->mxnet-cu80==1.1.0) (3.0.4)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests==2.18.4->mxnet-cu80==1.1.0) (1.22)
ERROR: turicreate 5.7.1 has requirement numpy==1.16.4, but you'll have numpy 1.13.3 which is incompatible.
ERROR: tfds-nightly 1.2.0.dev201909050105 has requirement requests>=2.19.0, but you'll have requests 2.18.4 which is incompatible.
ERROR: tensorflow 1.14.0 has requirement numpy<2.0,>=1.14.5, but you'll have numpy 1.13.3 which is incompatible.
ERROR: spacy 2.1.8 has requirement numpy>=1.15.0, but you'll have numpy 1.13.3 which is incompatible.
ERROR: pyarrow 0.14.1 has requirement numpy>=1.14, but you'll have numpy 1.13.3 which is incompatible.
ERROR: imgaug 0.2.9 has requirement numpy>=1.15.0, but you'll have numpy 1.13.3 which is incompatible.
ERROR: google-colab 1.0.0 has requirement requests~=2.21.0, but you'll have requests 2.18.4 which is incompatible.
ERROR: fastai 1.0.57 has requirement numpy>=1.15, but you'll have numpy 1.13.3 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: cvxpy 1.0.25 has requirement numpy>=1.15, but you'll have numpy 1.13.3 which is incompatible.
ERROR: coremltools 3.0b3 has requirement numpy>=1.14.5, but you'll have numpy 1.13.3 which is incompatible.
ERROR: blis 0.2.4 has requirement numpy>=1.15.0, but you'll have numpy 1.13.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy, mxnet-cu80
  Found existing installation: numpy 1.16.4
    Uninstalling numpy-1.16.4:
      Successfully uninstalled numpy-1.16.4
Successfully installed mxnet-cu80-1.1.0 numpy-1.13.3
Requirement already satisfied: turicreate in /usr/local/lib/python3.6/dist-packages (5.7.1)
Requirement already satisfied: requests>=2.9.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (2.18.4)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.12.0)
Collecting numpy==1.16.4 (from turicreate)
  Using cached https://files.pythonhosted.org/packages/87/2d/e4656149cbadd3a8a0369fcd1a9c7d61cc7b87b3903b85389c70c989a696/numpy-1.16.4-cp36-cp36m-manylinux1_x86_64.whl
Requirement already satisfied: prettytable==0.7.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.7.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.3.1)
Requirement already satisfied: coremltools==3.0b3 in /usr/local/lib/python3.6/dist-packages (from turicreate) (3.0b3)
Requirement already satisfied: mxnet<1.2.0,>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.1.0.post0)
Requirement already satisfied: pandas>=0.23.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.24.2)
Requirement already satisfied: resampy==0.2.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.2.1)
Requirement already satisfied: decorator>=4.0.9 in /usr/local/lib/python3.6/dist-packages (from turicreate) (4.4.0)
Requirement already satisfied: pillow>=5.2.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (6.1.0)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (1.22)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2019.6.16)
Requirement already satisfied: protobuf>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from coremltools==3.0b3->turicreate) (3.7.1)
Requirement already satisfied: graphviz<0.9.0,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from mxnet<1.2.0,>=1.1.0->turicreate) (0.8.1)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2018.9)
Requirement already satisfied: numba>=0.32 in /usr/local/lib/python3.6/dist-packages (from resampy==0.2.1->turicreate) (0.40.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.1.0->coremltools==3.0b3->turicreate) (41.2.0)
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.32->resampy==0.2.1->turicreate) (0.29.0)
ERROR: tfds-nightly 1.2.0.dev201909050105 has requirement requests>=2.19.0, but you'll have requests 2.18.4 which is incompatible.
ERROR: mxnet 1.1.0.post0 has requirement numpy<1.15.0,>=1.8.2, but you'll have numpy 1.16.4 which is incompatible.
ERROR: mxnet-cu80 1.1.0 has requirement numpy<=1.13.3, but you'll have numpy 1.16.4 which is incompatible.
ERROR: google-colab 1.0.0 has requirement requests~=2.21.0, but you'll have requests 2.18.4 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy
  Found existing installation: numpy 1.13.3
    Uninstalling numpy-1.13.3:
      Successfully uninstalled numpy-1.13.3
Successfully installed numpy-1.16.4

In [0]:
import pandas as pd
import numpy as np
import turicreate as tc

Connect the notebook to your google drive to enable you pull the data from your google drive

In [5]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

# Read the Files and Preparing the Data

Telling turicreate to use all our available gpu

In [0]:
tc.config.set_num_gpus(-1)

Here we read in the data and convert it to SFrame 

*   Note that you have to specify the path of your dataset

In [7]:
post = tc.SFrame.read_csv('/gdrive/My Drive/rec_model/posts (1).csv')
user_ratings = tc.SFrame.read_csv('/gdrive/My Drive/rec_model/userRatings.csv', usecols=['user_id', 'post_id', 'Ratings'])

Finished parsing file /gdrive/My Drive/rec_model/posts (1).csv

Parsing completed. Parsed 100 lines in 0.050161 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,str,str,str,str,str,str,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /gdrive/My Drive/rec_model/posts (1).csv

Parsing completed. Parsed 876 lines in 0.025086 secs.

Read 60 lines. Lines per second: 4595.24

Finished parsing file /gdrive/My Drive/rec_model/userRatings.csv

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,float,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Parsing completed. Parsed 60 lines in 0.013615 secs.

Finished parsing file /gdrive/My Drive/rec_model/userRatings.csv

Parsing completed. Parsed 60 lines in 0.016106 secs.

Display the first 5 rows of the post dataset

In [8]:
post.head(5)

Columns:
	user_id	int
	title	str
	content	str
	tags	str
	slug	str
	created_at	str
	updated_at	str
	image	str
	status_id	str
	action	str
	post_id	str

Rows: 5

Data:
+---------+-------------------------------+-------------------------------+
| user_id |             title             |            content            |
+---------+-------------------------------+-------------------------------+
|   2077  | What i have learnt so far ... | I learnt how to use the ta... |
|   1719  |        HTML BEGINS HERE       | \xa0I am on this journey w... |
|   1310  |    My Laziness In The Open    | I have not been attending ... |
|   1787  |           MY TASK 2           | My journey on **StartNG** ... |
|   167   |             Task 2            | \xa0A Summary on The “idon... |
+---------+-------------------------------+-------------------------------+
+------------+-------------------------------+---------------------+
|    tags    |              slug             |      created_at     |
+------------+-------------------------------+---------------------+
|    NULL    | what-i-have-learnt-so-far-... | 2019-08-25 19:39:01 |
| Technology |      html-begins-here-4d6     | 2019-08-25 19:44:36 |
|    NULL    |  my-laziness-in-the-open-029  | 2019-08-25 19:50:33 |
|    NULL    |         my-task-2-649         | 2019-08-25 19:51:36 |
|    NULL    |           task-2-7e5          | 2019-08-25 19:51:39 |
+------------+-------------------------------+---------------------+
+---------------------+-------+-----------+--------+---------+
|      updated_at     | image | status_id | action | post_id |
+---------------------+-------+-----------+--------+---------+
| 2019-08-28 11:30:00 |   1   |    NULL   |  NULL  |   NULL  |
| 2019-08-28 11:30:00 |   1   |    NULL   |  NULL  |   NULL  |
| 2019-08-28 11:30:00 |   1   |    NULL   |  NULL  |   NULL  |
| 2019-08-28 11:30:00 |   1   |    NULL   |  NULL  |   NULL  |
| 2019-08-28 11:30:00 |   1   |    NULL   |  NULL  |   NULL  |
+---------------------+-------+-----------+--------+---------+
[5 rows x 11 columns]

Display the first 5 rows of the user_ratings dataset

In [11]:
user_ratings.head()

Columns:
	user_id	int
	post_id	float
	Ratings	int

Rows: 10

Data:
+---------+---------+---------+
| user_id | post_id | Ratings |
+---------+---------+---------+
|    1    |  995.0  |    5    |
|    1    |  355.0  |    2    |
|    1    |  996.0  |    4    |
|    1    |  996.0  |    5    |
|    1    |  996.0  |    4    |
|    2    |  992.0  |    4    |
|    2    |  992.0  |    3    |
|    2    |  992.0  |    5    |
|    2    |  993.0  |    5    |
|    2    |  993.0  |    4    |
+---------+---------+---------+
[10 rows x 3 columns]

Merge our postdf and user ratings df

In [0]:
merged_col = tc.SFrame.join(post, user_ratings, on='user_id')

Display the head of our merged dataframe

In [13]:
merged_col.head()

Columns:
	user_id	int
	title	str
	content	str
	tags	str
	slug	str
	created_at	str
	updated_at	str
	image	str
	status_id	str
	action	str
	post_id	str
	post_id.1	float
	Ratings	int

Rows: 10

Data:
+---------+-------------------------------+-------------------------------+------+
| user_id |             title             |            content            | tags |
+---------+-------------------------------+-------------------------------+------+
|   2191  |  What you have learned so far | 1.  I have learnt how to p... | NULL |
|   2191  |  What you wish to still learn | 1.  I want more insight on... | NULL |
|   2191  | What you wish should be im... | 1.  For now am OK with the... | NULL |
|    4    |     Good Afternoon People     |              Hey              | NULL |
|    4    |     Good Afternoon People     |              Hey              | NULL |
|    4    |     Good Afternoon People     |              Hey              | NULL |
|    4    |     Good Afternoon People     |              Hey              | NULL |
|    1    |       Took a long while       |           Yh it did           | NULL |
|    1    |       Took a long while       |           Yh it did           | NULL |
|    1    |       Took a long while       |           Yh it did           | NULL |
+---------+-------------------------------+-------------------------------+------+
+-------------------------------+---------------------+---------------------+
|              slug             |      created_at     |      updated_at     |
+-------------------------------+---------------------+---------------------+
| what-you-have-learned-so-f... | 2019-08-26 08:06:03 | 2019-08-28 11:30:06 |
| what-you-wish-to-still-lea... | 2019-08-26 08:13:27 | 2019-08-28 11:30:06 |
| what-you-wish-should-be-im... | 2019-08-26 09:17:43 | 2019-08-28 11:30:07 |
|   good-afternoon-people-288   | 2019-08-26 15:10:44 | 2019-08-28 11:30:12 |
|   good-afternoon-people-288   | 2019-08-26 15:10:44 | 2019-08-28 11:30:12 |
|   good-afternoon-people-288   | 2019-08-26 15:10:44 | 2019-08-28 11:30:12 |
|   good-afternoon-people-288   | 2019-08-26 15:10:44 | 2019-08-28 11:30:12 |
|     took-a-long-while-f0e     | 2019-08-26 15:12:53 | 2019-08-28 11:30:12 |
|     took-a-long-while-f0e     | 2019-08-26 15:12:53 | 2019-08-28 11:30:12 |
|     took-a-long-while-f0e     | 2019-08-26 15:12:53 | 2019-08-28 11:30:12 |
+-------------------------------+---------------------+---------------------+
+-------+-----------+--------+---------+-----------+---------+
| image | status_id | action | post_id | post_id.1 | Ratings |
+-------+-----------+--------+---------+-----------+---------+
|  NULL |    NULL   |  NULL  |   NULL  |   143.0   |    3    |
|  NULL |    NULL   |  NULL  |   NULL  |   143.0   |    3    |
|  NULL |    NULL   |  NULL  |   NULL  |   143.0   |    3    |
|  NULL |    NULL   |  NULL  |   NULL  |   999.0   |    4    |
|  NULL |    NULL   |  NULL  |   NULL  |   278.0   |    3    |
|  NULL |    NULL   |  NULL  |   NULL  |   999.0   |    3    |
|  NULL |    NULL   |  NULL  |   NULL  |   999.0   |    4    |
|  NULL |    NULL   |  NULL  |   NULL  |   995.0   |    5    |
|  NULL |    NULL   |  NULL  |   NULL  |   355.0   |    2    |
|  NULL |    NULL   |  NULL  |   NULL  |   996.0   |    4    |
+-------+-----------+--------+---------+-----------+---------+
[10 rows x 13 columns]

In [14]:
#number of users

users = post['user_id'].unique() ; print("number of users" , len(users))

number of users 308

In [15]:
#number of content titles

titles = post['title'].unique() ; print("Number of titles" , len(titles))

Number of titles 658

# Model

Creating a train and validation data for our model

In [0]:
trainind_data, validation_data = tc.recommender.util.random_split_by_user(merged_col, 'user_id', 'title')

Building the model using the ranking factorization recommender

In [20]:
rating_model = tc.ranking_factorization_recommender.create(trainind_data, 
                                                    user_id ='user_id',
                                                   item_id ='title',
                                                   target = 'Ratings')

Preparing data set.

    Data has 505 observations with 8 users and 45 items.

    Data prepared in: 0.019192s

Training ranking_factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 32       |

| regularization                 | L2 Regularization on Factors                     | 1e-09    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-09    |

| ranking_regularization         | Rank-based Regularization Weight                 | 0.25     |

| max_iterations                 | Maximum Number of Iterations                     | 25       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 505 / 505 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 4.16667           | Not Viable                               |

| 1       | 1.04167           | Not Viable                               |

| 2       | 0.260417          | Not Viable                               |

| 3       | 0.0651042         | 1.32675                                  |

| 4       | 0.0325521         | 1.26557                                  |

| 5       | 0.016276          | 1.28649                                  |

| 6       | 0.00813802        | 1.35428                                  |

| 7       | 0.00406901        | 1.39787                                  |

+---------+-------------------+------------------------------------------+

| Final   | 0.0325521         | 1.26557                                  |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 137us        | 1.79916           | 0.957191              |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 10.619ms     | 0.899047          | 0.857988              | 0.0325521   |

| 2       | 16.332ms     | 0.764531          | 0.787588              | 0.0325521   |

| 3       | 21ms         | 0.723503          | 0.765099              | 0.0325521   |

| 4       | 26.819ms     | 0.708465          | 0.765361              | 0.0325521   |

| 5       | 33.349ms     | 0.698786          | 0.764023              | 0.0325521   |

| 10      | 52.644ms     | 0.646396          | 0.739719              | 0.0325521   |

| 25      | 97.309ms     | 0.606507          | 0.740357              | 0.0325521   |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached.

Computing final objective value and training RMSE.

       Final objective value: 1.52357

       Final training RMSE: 0.724099

Creating an item_similarity model, So we can compare the two models together

In [21]:
item_sim_model = tc.item_similarity_recommender.create(trainind_data, user_id='user_id', 
                                                       item_id='content', 
                                                       target='Ratings', similarity_type='cosine')

Warning: Ignoring columns title, tags, slug, created_at, updated_at, image, status_id, action, post_id, post_id.1;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 505 observations with 8 users and 51 items.

    Data prepared in: 0.012518s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 3.977ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 5.889ms                             | 1.5              | 0               |

| 6.276ms                             | 100              | 51              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.01288s

# Compare Both Models

In [22]:
tc.recommender.util.compare_models(validation_data, [rating_model,item_sim_model], metric='rmse')

PROGRESS: Evaluate model M0

Overall RMSE: 0.8660096030915362

Per User RMSE (best)
+---------+--------------------+-------+
| user_id |        rmse        | count |
+---------+--------------------+-------+
|    3    | 0.5736509774469036 |   40  |
+---------+--------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+---------+--------------------+-------+
| user_id |        rmse        | count |
+---------+--------------------+-------+
|    7    | 1.6398956366626196 |   7   |
+---------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+---------------+---------------------+-------+
|     title     |         rmse        | count |
+---------------+---------------------+-------+
| My first post | 0.15113839636124649 |   1   |
+---------------+---------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+------------------+--------------------+-------+
|      title       |        rmse        | count |
+------------------+--------------------+-------+
| SHALLOW THINKING | 1.8901779898390279 |   2   |
+------------------+--------------------+-------+
[1 rows x 3 columns]

PROGRESS: Evaluate model M1

Overall RMSE: 0.8962686489793021

Per User RMSE (best)
+---------+---------------------+-------+
| user_id |         rmse        | count |
+---------+---------------------+-------+
|    22   | 0.16666666666666674 |   2   |
+---------+---------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+---------+------+-------+
| user_id | rmse | count |
+---------+------+-------+
|    4    | 2.25 |   1   |
+---------+------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-------------------------------+---------------------+-------+
|            content            |         rmse        | count |
+-------------------------------+---------------------+-------+
| <p><img src="/storage/gods... | 0.16666666666666674 |   1   |
+-------------------------------+---------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-------------------------------+------+-------+
|            content            | rmse | count |
+-------------------------------+------+-------+
| jnlkj\n\n  \n\n![](/storag... | 2.25 |   1   |
+-------------------------------+------+-------+
[1 rows x 3 columns]

[{'rmse_by_item': Columns:
  	title	str
  	rmse	float
  	count	int

  Rows: 33

  Data:
  +------------------------------+---------------------+-------+
  |            title             |         rmse        | count |
  +------------------------------+---------------------+-------+
  |        Lucid is live         |  0.5199092201930928 |   3   |
  |    My Experience In HTML     | 0.18820333183008942 |   5   |
  |       SHALLOW THINKING       |  1.8901779898390279 |   2   |
  |            third             |  1.4050162122770424 |   1   |
  |             TEst             |  0.8747526775039169 |   1   |
  | My Internship Journey So Far |  0.6875575290443382 |   5   |
  |            First             |  1.4933017390241456 |   2   |
  |     this is a test post      |  0.9631139747611757 |   5   |
  |        Lucid is back         | 0.22826425068579592 |   1   |
  |       Welcome to Lucid       |   0.73147689157581  |   3   |
  +------------------------------+---------------------+-------+
  [33 rows x 3 columns]
  Note: Only the head of the SFrame is printed.
  You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
  'rmse_by_user': Columns:
  	user_id	int
  	rmse	float
  	count	int

  Rows: 6

  Data:
  +---------+--------------------+-------+
  | user_id |        rmse        | count |
  +---------+--------------------+-------+
  |    22   | 0.6956747092241728 |   2   |
  |    2    | 0.8520520541947663 |   63  |
  |    7    | 1.6398956366626196 |   7   |
  |    4    | 0.8747526775039169 |   1   |
  |    3    | 0.5736509774469036 |   40  |
  |    1    | 1.4394718846760592 |   4   |
  +---------+--------------------+-------+
  [6 rows x 3 columns],
  'rmse_overall': 0.8660096030915362},
 {'rmse_by_item': Columns:
  	content	str
  	rmse	float
  	count	int

  Rows: 36

  Data:
  +-------------------------------+---------------------+-------+
  |            content            |         rmse        | count |
  +-------------------------------+---------------------+-------+
  |   <p>i need this to work</p>  |  1.1237387455615835 |   5   |
  |     <p>I love this app</p>    |  1.1237387455615835 |   5   |
  | <p>I was alone in the cent... |  0.8469987819158352 |   5   |
  | It's quite easy to be good... |  1.301282167040895  |   2   |
  | <p>“Come to class, come to... | 0.40096155660493027 |   5   |
  | let's do this oooooooooooo... | 0.16666666666666674 |   1   |
  | \`html\`\n\n  \n\n\`<!DOCT... |  0.9283151164115462 |   9   |
  |             First             |        1.625        |   2   |
  | <p>In 2004 I was in Brazil... | 0.19820230702559138 |   1   |
  | We have taken time to work... | 0.40828756349427353 |   1   |
  +-------------------------------+---------------------+-------+
  [36 rows x 3 columns]
  Note: Only the head of the SFrame is printed.
  You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
  'rmse_by_user': Columns:
  	user_id	int
  	rmse	float
  	count	int

  Rows: 6

  Data:
  +---------+---------------------+-------+
  | user_id |         rmse        | count |
  +---------+---------------------+-------+
  |    22   | 0.16666666666666674 |   2   |
  |    2    |  0.8928643418045067 |   63  |
  |    7    |  1.379769171512841  |   7   |
  |    4    |         2.25        |   1   |
  |    3    |   0.55231183544324  |   40  |
  |    1    |  1.8107630593351658 |   4   |
  +---------+---------------------+-------+
  [6 rows x 3 columns],
  'rmse_overall': 0.8962686489793021}]

We compared both models and we can see that the rating model performed better with a rmse of 0.86

# Recommender System Testing

*Making predictions based on different factors

1. Making recommendation for all users
    * This makes recommendations for all users seen during model creation
    * It returns the first 10 prediction

In [23]:
all_users_rank = rating_model.recommend()
all_users_rank

Columns:
	user_id	int
	title	str
	score	float
	rank	int

Rows: 80

Data:
+---------+-------------------------------+--------------------+------+
| user_id |             title             |       score        | rank |
+---------+-------------------------------+--------------------+------+
|   2191  |       Took a long while       | 3.7975393787653435 |  1   |
|   2191  |             third             | 3.661986825771003  |  2   |
|   2191  |             second            | 3.657069310096397  |  3   |
|   2191  | Working round the clock on... | 3.6153229137578298 |  4   |
|   2191  |     Good Afternoon People     | 3.6100475604341615 |  5   |
|   2191  |             First             | 3.6019188922525633 |  6   |
|   2191  |         Stressful Day         | 3.5953039426983584 |  7   |
|   2191  | BUILD AROUND YOUR DISCOVER... | 3.5566458713890303 |  8   |
|   2191  |      How did your day go?     | 3.547896971243738  |  9   |
|   2191  |         THE SUNFLOWER         | 3.542322338807701  |  10  |
+---------+-------------------------------+--------------------+------+
[80 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

* k=3 arguement means that it should return 3 predictions for each users
* It can basically be any amount of recommendations we want the recommender system to produce

In [24]:
all_users_rank = rating_model.recommend(k=3)
all_users_rank

Columns:
	user_id	int
	title	str
	score	float
	rank	int

Rows: 24

Data:
+---------+-------------------------------+--------------------+------+
| user_id |             title             |       score        | rank |
+---------+-------------------------------+--------------------+------+
|   2191  |       Took a long while       | 3.7975393787653435 |  1   |
|   2191  |             third             | 3.661986825771003  |  2   |
|   2191  |             second            | 3.657069310096397  |  3   |
|    4    | YOUR HIGH IQ WILL KILL YOU... |  3.72917540489447  |  1   |
|    4    | BUILD AROUND YOUR DISCOVER... | 3.6926738519848574 |  2   |
|    4    | A CHINESE VILLAGER WHO SEL... | 3.692296239796399  |  3   |
|    1    | YOUR HIGH IQ WILL KILL YOU... |  3.82986868290913  |  1   |
|    1    | A CHINESE VILLAGER WHO SEL... | 3.7478432927907694 |  2   |
|    1    | DON'T ASK WHY YOU WERE REJ... | 3.7022771400095214 |  3   |
|    7    |          with picture         | 3.4668812800534785 |  1   |
+---------+-------------------------------+--------------------+------+
[24 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

2.Making recommendations for new users without any information
    * created a new user with user_id = 20000
    * asked the rec_sys to recommend 3 articles for the user

In [25]:
rank_factor = rating_model.recommend(users=[20000], k=3)
rank_factor

Columns:
	user_id	int
	title	str
	score	float
	rank	int

Rows: 3

Data:
+---------+-------------------------------+--------------------+------+
| user_id |             title             |       score        | rank |
+---------+-------------------------------+--------------------+------+
|  20000  | YOUR HIGH IQ WILL KILL YOU... | 3.882381798017143  |  1   |
|  20000  | A CHINESE VILLAGER WHO SEL... | 3.8282060634971846 |  2   |
|  20000  | BUILD AROUND YOUR DISCOVER... | 3.8147348326326598 |  3   |
+---------+-------------------------------+--------------------+------+
[3 rows x 4 columns]

* it can also return a list of users

In [26]:
rank_factor = rating_model.recommend(users=[20000, 21000, 22000], k=3)
rank_factor

Columns:
	user_id	int
	title	str
	score	float
	rank	int

Rows: 9

Data:
+---------+-------------------------------+--------------------+------+
| user_id |             title             |       score        | rank |
+---------+-------------------------------+--------------------+------+
|  20000  | YOUR HIGH IQ WILL KILL YOU... | 3.882381798017143  |  1   |
|  20000  | A CHINESE VILLAGER WHO SEL... | 3.8282060634971846 |  2   |
|  20000  | BUILD AROUND YOUR DISCOVER... | 3.8147348326326598 |  3   |
|  21000  | YOUR HIGH IQ WILL KILL YOU... | 3.882381798017143  |  1   |
|  21000  | A CHINESE VILLAGER WHO SEL... | 3.8282060634971846 |  2   |
|  21000  | BUILD AROUND YOUR DISCOVER... | 3.8147348326326598 |  3   |
|  22000  | YOUR HIGH IQ WILL KILL YOU... | 3.882381798017143  |  1   |
|  22000  | A CHINESE VILLAGER WHO SEL... | 3.8282060634971846 |  2   |
|  22000  | BUILD AROUND YOUR DISCOVER... | 3.8147348326326598 |  3   |
+---------+-------------------------------+--------------------+------+
[9 rows x 4 columns]

# Follower Recommender System

Read the data

In [28]:
following = tc.SFrame.read_csv('/gdrive/My Drive/rec_model/nooffollowers1.csv')
following.head()

Finished parsing file /gdrive/My Drive/rec_model/nooffollowers1.csv

Parsing completed. Parsed 100 lines in 0.046219 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /gdrive/My Drive/rec_model/nooffollowers1.csv

Parsing completed. Parsed 878 lines in 0.023533 secs.

Columns:
	X1	int
	follower_id	int
	name	str
	username	str
	email	str
	no of follower	int

Rows: 10

Data:
+-----+-------------+------------------------+---------------+
|  X1 | follower_id |          name          |    username   |
+-----+-------------+------------------------+---------------+
|  0  |      6      |      Seyi Onifade      |     xyluz     |
| 273 |      3      |      Jeffrey Ogah      |   jeff.ogah   |
| 515 |      2      |     Elijah Okokon      |    DMatrix    |
| 544 |      7      |      Mark Essien       |   markessien  |
| 872 |      9      |      Edmund Ekott      |  26th_edmund  |
| 919 |      1      |   Eniayomi Oluwaseyi   |    eniayomi   |
| 934 |      11     |      Jenni Essien      |  j.naiaretti  |
| 956 |      20     |      albert oboh       |  albidosurest |
| 968 |      86     | Benjamin-Whyss Olumide | benjaminwhyss |
| 978 |     220     |    Toyosi Durotoye     |   corperevon  |
+-----+-------------+------------------------+---------------+
+-----------------------------+----------------+
|            email            | no of follower |
+-----------------------------+----------------+
|    hngtechapps@gmail.com    |      273       |
|     jeff.ogah@gmail.com     |      242       |
|     okoelijah@gmail.com     |       29       |
|     markessien@gmail.com    |      328       |
|   edmund.timfon@gmail.com   |       47       |
| oluwaseyieniayomi@gmail.com |       15       |
|    j.naiaretti@gmail.com    |       22       |
|    albidosurest@gmail.com   |       12       |
|   benjaminwhyss@gmail.com   |       10       |
|     corperevon@gmail.com    |       24       |
+-----------------------------+----------------+
[10 rows x 6 columns]

Convert the data into Sframe

# Build the followers Recommender System
* We used the factorization model so our recommender system does not become bias to recommending the most popular followers to all users.

In [31]:
model_item_sim = tc.factorization_recommender.create(following, 
                                          user_id='follower_id', 
                                          item_id='name', 
                                          target='no of follower')

Preparing data set.

    Data has 878 observations with 878 users and 878 items.

    Data prepared in: 0.011717s

Training factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 8        |

| regularization                 | L2 Regularization on Factors                     | 1e-08    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-10    |

| max_iterations                 | Maximum Number of Iterations                     | 50       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 878 / 878 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 10                | Not Viable                               |

| 1       | 2.5               | Not Viable                               |

| 2       | 0.625             | 206.123                                  |

| 3       | 0.3125            | 276.768                                  |

| 4       | 0.15625           | 243.439                                  |

| 5       | 0.078125          | 390.969                                  |

+---------+-------------------+------------------------------------------+

| Final   | 0.625             | 206.123                                  |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 105us        | 456.618           | 21.3686               |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 8.701ms      | 430.054           | 20.7377               | 0.625       |

| 2       | 26.887ms     | DIVERGED          | DIVERGED              | 0.625       |

| RESET   | 28.991ms     | 456.62            | 21.3687               |             |

| 1       | 37.524ms     | 432.185           | 20.7891               | 0.3125      |

| 2       | 46.036ms     | 572.17            | 23.9201               | 0.3125      |

| 3       | 53.824ms     | 488.036           | 22.0915               | 0.3125      |

| 4       | 61.599ms     | 460.186           | 21.4519               | 0.3125      |

| 8       | 77.724ms     | 140.499           | 11.8532               | 0.3125      |

| 30      | 150.892ms    | DIVERGED          | DIVERGED              | 0.3125      |

| RESET   | 155.109ms    | 456.624           | 21.3688               |             |

| 18      | 215.214ms    | 128.901           | 11.3534               | 0.15625     |

| 23      | 234.872ms    | 115.273           | 10.7365               | 0.15625     |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached (hard limit).

Computing final objective value and training RMSE.

       Final objective value: 112.606

       Final training RMSE: 10.6116

# Testing the Followers Recommender System

1. Testing for all users using by recommending 3 users to our users.

In [32]:
rec_result_factorization = model_item_sim.recommend(k=3)
rec_result_factorization

Columns:
	follower_id	int
	name	str
	score	float
	rank	int

Rows: 2634

Data:
+-------------+----------------------+--------------------+------+
| follower_id |         name         |       score        | rank |
+-------------+----------------------+--------------------+------+
|      6      |     Mark Essien      | 27.095863424835567 |  1   |
|      6      |     Jeffrey Ogah     | 26.702410184440975 |  2   |
|      6      | Chiamaka Honor Osuji | 23.816241406498317 |  3   |
|      3      |     Mark Essien      | 29.890664302406673 |  1   |
|      3      |     Seyi Onifade     | 26.702908598480587 |  2   |
|      3      | Chiamaka Honor Osuji | 25.108127855358486 |  3   |
|      2      |     Mark Essien      | 17.069949888286953 |  1   |
|      2      |     Jeffrey Ogah     | 16.931517027912502 |  2   |
|      2      |     Seyi Onifade     | 16.36027064233816  |  3   |
|      7      |     Jeffrey Ogah     | 29.891242229042415 |  1   |
+-------------+----------------------+--------------------+------+
[2634 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

 2. Making recommendations for new users

In [33]:
rec_result_factorization_newUsers = model_item_sim.recommend(users=[20000], k=3)
rec_result_factorization_newUsers

Columns:
	follower_id	int
	name	str
	score	float
	rank	int

Rows: 3

Data:
+-------------+--------------+--------------------+------+
| follower_id |     name     |       score        | rank |
+-------------+--------------+--------------------+------+
|    20000    | Mark Essien  | 13.714611374435787 |  1   |
|    20000    | Seyi Onifade | 13.690650664863949 |  2   |
|    20000    | Jeffrey Ogah | 13.649328433571224 |  3   |
+-------------+--------------+--------------------+------+
[3 rows x 4 columns]